html {
    height: 100%;
}


.h1 {

    color: #292323;
    font-family: Impact, sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562);
    padding: 250px 0px 50px 0px;
    text-align: center;
    margin-top: -200px;

}

h2 {
    color: white;
}

a {
    font-size: 30px;
}

/* Tableau */
table {
    font-family: "Trebuchet MS";
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}
table td, table th {
    border: 1px solid #ddd;
    text-align: center;
}
table tr:nth-child(even){
    background-color: #eeeeeee3;
}
table tr:nth-child(odd){
    background-color: #ffffffe7;
}

/*Les ligne <p> index*/
.art {
    font-size: 35px;
    font-family: Impact, sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.562);
    text-align: left;
}

/*le bouton detail */
.bou {
    text-align: left;
}
