<!--// Pour réaliser l'exercice ne pas oublier d'importer en script, et d'installer avec la cmd npm install vue, npm install axios --save , -->

<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="bit">
    <h1>Bitcoin Price</h1>
    <div
            v-for="currency in info"
            class="currency"
    >
        {{ currency.description }}:
        <span class="lighten">
      <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
    </span>
    </div>
</div>

    <div id="app">
    <h1 v-show="affichage">{{ message }}</h1>
    <h1 v-show="!affichage">ce n'est pas bon !</h1>
    <hr>
    <input type="text" v-model="message">

<!--    Si on clik alors le labbel sera visible a la place du msg-->
    <button v-on:click="btn1_click">Test</button>
    <hr>
    <div id="label1" v-show="label_visible"></div>
    </div>


<!--<div id="ajax">-->
<!--    <div v-for="item in liste">-->
<!--        {{ item.sta_nom }}-->
<!--    </div>-->
<!--</div>-->


<script>
    var add = new Vue({
        el: '#add',
        data: {

        }
    })
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Bonjour !',
            // Si affichage egale true alors il affiche Message sinon il affiche ce n'est pas bon, pour tester juste changer la valeur de affichage.
            affichage: true, // ou false
            label_visible: false
        },

        // on increment une methode pour le clik
    methods: {
        btn1_click: function(evt) {
            this.message = "Le label est visible";
            this.label_visible = true;
        }
    },
    })


    // Exemple avec l'import en get des données bitcoin'
    var bit = new Vue({
        el: '#bit',
        data () {
            return {
                info: null
            }
        },
        mounted () {
            axios
                .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                .then(response => (this.info = response.data.bpi))
        },
        filters: {
            currencydecimal (value) {
                return value.toFixed(2)
            }
        },
    })


    // Exemple du cours non fonctionnel
    // var ajax = new Vue({
    //     el:'#ajax',
    //     data () {
    //         return {
    //             info: null
    //         }
    //     },
    //     mounted (){
    //         axios.get("liste.php").then(function(reponse)
    //         { console.log(reponse.data); this.liste = reponse.data; this.message = "Liste chargée"; })
    //     }
    // })

</script>
</body>
</html>