html {
    font-style: normal;
}

/* Responsive */
@media only screen and (max-width: 1000px){
    div {
        margin-right: 15px;
        margin-left: 15px;
    }
}

/*.photo {*/
/*    max-width: 400px;*/
/*    max-height: 400px;*/
/*    margin-left: -0px;*/
/*    width: auto;*/
/*    height: auto;*/
/*}*/

p {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
}


pre {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
}
u {
    font-weight: bold;
    font-style: normal;

    font-size: 1.2em;
}

span {
    color: red;
}